.condition_container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: var(--aplication-global-max-width);

    /* Estilizando os inputs de hora e data */
    input[type="date"], input[type="time"] {
        padding: 2px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 8px;
        border-radius: 5px;
        background-color: inherit;
        color: inherit;
    }

    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        appearance: none;
        background: no-repeat center right 0px;
        background-size: 17px 17px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator { margin-left: -10px; background-image: url(../../Reminder/assets/icons/date.png); }
    input[type="time"]::-webkit-calendar-picker-indicator { background-image: url(../../Reminder/assets/icons/time.png) }

    /* Formatando o botão de condição padrão */
    .condition_button {
        padding: 3px;
        display: flex;
        cursor: pointer;
        flex-wrap: nowrap;
        border-radius: 5px;
        flex-direction: row;
        border: 1px solid var(--color-02);
        background-color: var(--color-00);

        p {
            width: 200px;
            border: none;
            cursor: pointer;
            text-align: left;
            text-indent: 15px;
            font-weight: light;
            border-radius: 5px;
            background-color: inherit;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            user-select: none;
            font-size: 0.9em;
        }
    }
}
