@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_00: #f8f8f8;
    --color-01: #559dab;
    --color-02: #bbbbbb;
    --color-03: #313131;
    --aplication-global-max-width: 600px;
}

.default_bar {
    width: 90%;
    height: 1px;
    margin: auto;
    max-width: 600px;
    background-color: var(--color-02);
}

.default_button {
    width: 90%;
    outline: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color-00);
    border: 2px solid var(--color-02);
        
    color: #a3a3a3;
    font-size: 1em;
    text-align: left;
    font-family: Arial, sans-serif;
}