@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-01: #2f98b8;
    --color-02: #bbbbbb;
    --aplication-global-max-width: 600px;
}

main {
    position: relative;
}